.highlighter-rouge {
    background-color: #f8f8f8;
}

pre>code {
    background-color: #f8f8f8;
}

pre {
    background-color: #f8f8f8 !important;
    border-radius: 0px !important;
}

.post-title {
    font-size: 2rem !important;
    text-align: left !important;
}

.social {
    max-height: 16px;
    max-width: 16px;
}

.post-header {
    font-size: 14px;
}

/* Pridanie vlastných štýlov pre šípky */
.slick-prev,
.slick-next {
    color: black;
    /* Zmena farby šípky */
    background: rgba(255, 255, 255, 0.5);
    /* Pridanie polopriehľadného bielého pozadia */
}

/* Zmena štýlu pri najetí myšou (hover) */
.slick-prev:hover,
.slick-next:hover {
    background: white;
    /* Zmena pozadia na menej priehľadné alebo inú farbu pri najetí */
    color: black;
    /* Zmena farby šípky pri najetí */
}

/* Špecifické štýly pre predchádzajúcu (prev) a nasledujúcu (next) šípku */
.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    /* Zväčšenie šípky */
    opacity: 1;
    /* Zabezpečenie, že šípka nie je polopriehľadná */
    color: black;
    /* Zmena farby ikony šípky */
}

.cover {
    margin-top: 20px;
    border-radius: 5px;
}

.carousel {
    margin-top: 20px;
}

.post-thumbnail {
    margin-bottom: 20px;
}

.post-thumbnail img {
    border-radius: 5px;
}