<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="colors theme-dark-2 entities fonts code-style">

{%- include head.html -%}

<body>
    <svg width="0" height="0">
        <defs>
            <marker id="custom-arrowhead" markerWidth="10" markerHeight="7" refX="10" refY="3.5" orient="auto">
            <path d="M0,0 L0,7 L10,3.5 z"></path>
            </marker>
        </defs>
    </svg>
    {% include navigation.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}

            <script data-name="BMC-Widget" data-cfasync="false" 
                src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
                data-id="minomartiniak" 
                data-description="Support me on Buy me a coffee!" 
                data-message="" 
                data-color="#00BF63" data-position="Right" 
                data-x_margin="25" 
                data-y_margin="50">
            </script>
        </div>
    </main>

    {%- include footer.html -%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: false,
                focusOnSelect: true,
                infinite: false,
                adaptiveHeight: true
            });
        });

        lightbox.option({
            'resizeDuration': 50,
            'wrapAround': false,
            'fadeDuration': 50,
            'imageFadeDuration': 50,
            'resizeDuration': 50            
        })

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
</body>

</html>