<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {% include navigation.html %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                centerMode: false,
                focusOnSelect: true,
                infinite: false,
                adaptiveHeight: true
            });
        });

        lightbox.option({
            'resizeDuration': 50,
            'wrapAround': false,
            'fadeDuration': 50,
            'imageFadeDuration': 50,
            'resizeDuration': 50            
        })
    </script>
</body>

</html>