---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape | markdownify }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time> {%- if site.author.name -%}<span itemprop="author" itemscope
                itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name"> | {{ site.author.name
                    | escape }}</span></span>
            {%- endif -%} {% if page.tags %}
            | <span class="fa fa-tags" aria-label="Tags"> </span> {% for tag in page.tags %}
            <span>
                <!-- <a href="/tags/{{ tag }}">{{ tag }}</a> -->
                {{ tag }}{% if forloop.last==false %}, {% endif %}
            </span> {% endfor %} {% endif %}
        </p>
    </header>

    {% if page.thumbnail %}
    <div class="post-thumbnail">
        <img src="{{ page.thumbnail }}" alt="{{ page.title }}" itemprop="image">
    </div>
    {% endif %}

    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div class="carousel">
        {% if page.carousel_images %}
        {% for image in page.carousel_images %}
        <div>
            <!-- <img src="{{ image.path }}" alt="{{ image.alt }}"> -->
            <a href="{{ image.path }}" data-lightbox="gallery">
                <img src="{{ image.path }}" alt="{{ image.alt }}">
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>